# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
android/.gradle
android/app/build
android/build
android/local.properties
*.keystore
!debug.keystore

# iOS
ios/Pods/
ios/build/

# Misc
.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
